<template>
    <div class="ardr-product-list-info">
        <div class="photo"><img :src="photoPath" :alt="productName"/></div>
        <div class="title">{{ productName }}</div>
        <div class="price">{{ productPrice }}</div>
        <div class="delivery">{{ productDelivery }}</div>
    </div>
</template>
<script>
export default {
    props:{
        photoPath:{
            type:String,
            required:true,
        },
        productName:{
            type:String,
            required: true
        },
        productPrice:{
            type:String,
            required: true
        },
        productDelivery:{
            type:String,
            required: true
        }

    }
}

</script>
