<template>
    <div>
        <h1 class="ardr-headline-text">cungpang product list</h1>
        <section>
            <product-list-info
                v-for="(item,index) in prolist"
                v-bind:key="index"
                v-bind:product-delivery="item.ArrivalDate"
                v-bind:product-price="item.productPrice"
                v-bind:product-name="item.productName"
                v-bind:photo-path="item.photoName"
            />
        </section>
    </div>
</template>

<script>

export default {
    data() {
        return {
            prolist: [
                {
                    photoName: '/images/product_1.jpg',
                    productName: 'VT 마일드 리들샷 50, 50ml, 1개',
                    productPrice: '27,000원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_2.jpg',
                    productName: '27리빙 여행용 깔끔한 소분 파우치, 50ml, 15개',
                    productPrice: '8,480원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_3.jpg',
                    productName: '라벨르 초음파 워터 필링기 L5, 혼합 색상',
                    productPrice: '38,000원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_4.jpg',
                    productName: '지베르니 밀착 커버 파운데이션 30ml, 1개, 17호 포슬린',
                    productPrice: '22,330원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_5.jpg',
                    productName: '바닐라코 커버리셔스 얼티밋 화이트 쿠션 모이스처, 21 로제, 1개',
                    productPrice: '19,790원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_6.png',
                    productName: '이니스프리 New 블랙티 유스 인핸싱 탄력 앰플 50ml + 인핸싱 앰플 12ml + 인핸싱 크림 10ml 세트, 1세트',
                    productPrice: '32,810원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_7.jpg',
                    productName: '일리윤 레드이치 케어오일, 200ml, 1개',
                    productPrice: '18,270원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_8.jpg',
                    productName: '바이오가 바이오틴 손상모발개선 탈모완화 샴푸, 1000ml, 1개',
                    productPrice: '30,000원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_9.jpg',
                    productName: 'AHC 누드 톤업 크림 내추럴 글로우 SPF50+ PA++++, 톤업베이지, 40ml, 1개',
                    productPrice: '16,120원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_10.jpg',
                    productName: '바닐라코 커버리셔스 파워 핏 파운데이션 30ml, 21 아이보리, 1개',
                    productPrice: '20,450원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_11.jpg',
                    productName: '메디필 레드 락토 콜라겐 랩핑 마스크 70ml, 1개입, 1개',
                    productPrice: '17,000원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },                {
                    photoName: '/images/product_12.png',
                    productName: '코스알엑스 더 비타민씨 13 세럼, 20ml, 1개',
                    productPrice: '13,530원 슈퍼배송',
                    ArrivalDate: '내일(수) 도착 보장'
                },


            ]

        }
    }
}
</script>
